<footer
  class='flex flex-col items-center px-24 max-sm:px-5 max-sm:py-10 max-w-7xl w-full mt-14'>
  <div class='italic'>"If you can dream it, you can do it" — Walt Disney</div>
  <div class='bg-black/5 p-4 text-center text-surface dark:text-white'>
    Copyright © 2025 Renata Blanco
  </div>

  <ul class='flex gap-x-2 items-center'>
    <li>
      <a href='https://www.linkedin.com/in/renata-blanco-guadarrama-7201a41b1/'>
        Linkedln</a
      >
    </li>
    <li>
      <a href='https://github.com/renatablancog'> Github</a>
    </li>
    <li>
      <a href='https://www.facebook.com/renatablancog/?locale=es_LA'>
        Facebook</a
      >
    </li>
  </ul>
</footer>
